/* .page{
    width: 800px;
    margin: 20px auto;

}
.header{
    padding: 20px;
    background-color: #eee;
}
.film{
    width: 100px;
    height: 200px;
}
.content{
    display: flex;
}
.card{
    width: 20px;
}
.add{
    width: 200px;
}

.sidebar{
    background-color: #eee;
    padding: 20px;
    width: 200px;

}
.main {
    background-color: azure;
    padding: 20px;
    width: 600px;
}

.footer {
    background-color: gray;
    margin: 20px auto;
    width: 760px;
    padding: 20px;
}

.logo{
    width: 100px;
    height: 100px;
} */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}
h1{
    text-align: center;
    color: white;
    padding: 30px;
}

.products{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

img{
    width: 220px;
    border-radius: 12px;
}
.card{
    width: 220px;
    background: dimgray;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
}

button{
    color: white;
    background-color: darkred;
}

.basket{
    width: 900px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: darkred;
    color: white;
}
h2{
    color: white;
}