body{
    background-image: url(https://i.redd.it/g57c85t0tms81.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif

}
.header{
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
    border-radius: 25px;
}

.leftside{
    display: flex;
    gap: 30px;
    align-items: center;
}
.logo{
    font-size: 30px;
}
.links a{
    text-decoration: none;
    color: black;
}
.links{
    display: flex;
    gap: 15px;
}
.order button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-leftside img{
    width: 80%;
    border-radius: 15px;
}
.hero-leftside h1{
    font-size: 22px;
    color: white;
    position: relative;
    bottom: 650px;
    left: 500px;
}
.hero-leftside p{
    color: gray;
    font-size: 15px;
}