body {
    margin: 0;
    height: 100vh;             
    display: flex;
    justify-content: center;    
    align-items: center;        
    background-color: #f4f4f4;

}

.card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 700px;
    height: 350px;
    color: black
}

h1{
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.text{
    display: flex;
    justify-content: center;
}
.text p{
    font-size: 10px;
}
p{
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.left img{
    width: 350px;
    height: 350px;
    object-fit: cover;  
}
.icons{
    margin: 10px;
}
.button{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    
}