body{
    padding: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: relative;
    width: 98%;
    height: 100px;
    background-color: #ffe784;
    margin: 20px;
    border-radius: 12px;
}
.logo{
    position: absolute;
    width: 150px;
    height: 100px;
}
.logo img{
    height: 100px;
    border-radius: 15px;
}
.links{
    position: absolute;
    left: 200px;
    top: 45px;
}
.links a{
    margin-right: 60px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.icons{
    position: absolute;
    right: 140px;
    top: 45px;
    width: 300px;
}
.icons img{
    left: 20px;
    margin-left: 60px;
}
.header-btn {
    position: absolute;
    right: 50px;
    top: 35px;
}
.header-btn button{
    padding: 8px 20px;
    border-radius: 15px;
    background-color: #1a7beb;
    color: white;
    font-weight: bold;
}
.main {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 20px;
}
.leftside{
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 78%;
}
.leftside img {
    width: 100%;
    height: 100%;
}
.rightside{
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    height: 80%;
}

.headline{
    position: absolute;
    left: 420px;
    font-size: 22px;
    font-weight: bolder;
}
.bot {
    position: relative;
    margin-top: 40px;
    height: 600px;
}
.bot img{
    width: 210px;
    height: 150px;
}
.bot h1{
    position: absolute;
    top: 160px;
    left: 10px;
    font-size: 14px;
}
.bot p{
    position: absolute;
    top: 180px;
    left: 10px;
    font-size: 14px;
}
.bot button{
    background-color: #1a7beb;
    position: absolute;
    top: 175px;
    right: 15px;
    color: white;
    font-size: 16px;
    border-radius: 12px;
}
.card {
    position: absolute;
    width: 19%;
    height: 200px;
    background: #f4f4f4;
    padding: 10px;
    margin-left: 40px;
}
.cards-top .card:nth-child(1) {
    left: 0%;
    top: 40px;
}

.cards-top .card:nth-child(2) {
    left: 22%;
    top: 40px;
}

.cards-top .card:nth-child(3) {
    left: 44%;
    top: 40px;
}

.cards-top .card:nth-child(4) {
    left: 66%;
    top: 40px;
}

.cards-bot .card:nth-child(1) {
    left: 0%;
    top: 280px;
}

.cards-bot .card:nth-child(2) {
    left: 22%;
    top: 280px;
}

.cards-bot .card:nth-child(3) {
    left: 44%;
    top: 280px;
}

.cards-bot .card:nth-child(4) {
    left: 66%;
    top: 280px;
}

.footer {
    margin: 20px;
    position: relative;
    width: 95%;
    height: 120px;
    background: dimgray;
    color: white;
    border-radius: 12px;
}

.footer-logo {
    position: absolute;
    left: 20px;
    top: 20px;
}
.footer img{
    height: 80px;
    border-radius: 15px;
}

.policy {
    position: absolute;
    left: 30%;
    top: 20px;
    text-align: center;
}

.footer-icons {
    position: absolute;
    right: 50px;
    top: 45px;
}

.footer-icons img {
    height: 30px;
    width: 30px;
    margin-left: 25px;
}
/* position, top/left/right/bottom, margin, padding, width, height */